.categories {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}

.categories form {
    width: 210px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.categories label {
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.categories input {
    width: 210px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.categories button {
    width: 70px;
    background: #000;
    color: #f5f5f5;
    margin-left: 10px;
    align-self: flex-end;
}

.categories input,
button {
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}

.categories .row {
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}